@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Roboto+Condensed');
$font-family-title:'Bowlby One';
$font-family-content: 'Roboto Condensed',
sans-serif;
$bg-color: #E2EDF1;
$main-color: #313437;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;
body {
    background: $bg-color;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $font-family-title;
    color: $main-color;
}

.main-wrapper {
    .main-title {
        font-size: 60px;
        text-align: center;
        margin: 100px 0px 50px 0px;
        text-transform: capitalize;
    }
    .home-wrapper {
        display: -webkit-flex;
        display: flex;
        width: 1065px;
        height: 449px;
        margin: 0 auto;
        .logo-container {
            width: 363px;
            height: 449px;
            background: $main-color;
            text-align: center;
            img {
                margin-top: 40px;
            }
        }
        .content-wrapper {
            height: 449px;
            width: 703px;
            background: #ffffff;
            text-align: center;
            .content {
                font-family: $font-family-content;
                font-size: 21px;
                padding: 15px;
                .title {
                    margin: 100px 0px 70px 0px;
                    text-transform: capitalize;
                }
                input {
                    width: 360px;
                    background: #fff;
                    color: $main-color;
                    font: inherit;
                    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
                    border: 1px solid #DBDBDB;
                    outline: 0;
                    padding: 22px 18px;
                }
                .btn {
                    display: inline-block;
                    background: transparent;
                    color: inherit;
                    text-transform: capitalize;
                    font: inherit;
                    border: 0;
                    outline: 0;
                    padding: 0;
                    transition: all 200ms ease-in;
                    cursor: pointer;
                    &--primary {
                        background: $button-bg-color;
                        color: $button-text-color;
                        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
                        border-radius: 2px;
                        padding: 12px 36px;
                        text-decoration: none;
                        &:hover {
                            background: darken($button-bg-color, 4%);
                        }
                        &:active {
                            background: $button-bg-color;
                            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
                        }
                    }
                    &--inside {
                        margin-left: -96px;
                    }
                }
                .cloud {
                    display: flex;
                    width: 376px;
                    float: right;
                    .forecast-title {
                        padding-top: 30px;
                        color: #605050;
                        margin-left: auto;
                    }
                    span {
                        font-weight: bold;
                        text-transform: capitalize
                    }
                }
                .day-container {
                    position: absolute;
                    margin-top: 100px;
                    display: flex;
                    .data {
                        border: 1px solid #ccc;
                        width: 100px;
                        margin: 6px;
                        padding: 10px;
                    }
                    .grow {
                        display: inline-block;
                        vertical-align: middle;
                        transform: translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        backface-visibility: hidden;
                        -moz-osx-font-smoothing: grayscale;
                        transition-duration: 0.3s;
                        transition-property: transform;
                    }
                    .grow:hover,
                    .grow:focus,
                    .grow:active {
                        transform: scale(1.1);
                    }
                }
                .loader {
                    margin: 0 auto;
                    border: 8px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 8px solid #e4d672;
                    border-bottom: 8px solid #212121;
                    width: 60px;
                    height: 60px;
                    -webkit-animation: spin 1.5s linear infinite;
                    animation: spin 1.5s linear infinite;
                }
                @-webkit-keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                    }
                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }
                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
            .detail-container {
                font-family: $font-family-content;
                font-size: 21px;
                display: flex;
                .detail {
                    width: 250px;
                    margin: 50px;
                }
                .info {
                    padding-top: 50px;
                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                    }
                    li {
                        font-size: 25px;
                        border-bottom: 1px solid #ccc;
                        text-transform: capitalize
                    }
                    li:last-child {
                        border: none;
                    }
                    li a {
                        text-decoration: none;
                        color: #000;
                        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
                        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
                        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
                        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
                        transition: font-size 0.3s ease, background-color 0.3s ease;
                        display: block;
                        width: 200px;
                    }
                    li a:hover {
                        font-size: 30px;
                        background: #00CBFC;
                    }
                }
            }
        }
    }
}